.container {
  background-image: url(../../public/images/excitement.jpg);
  height: 100vh;
  background-color: aquamarine;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
.learnMoreBtn {
  background-color: #f4f4f4c2;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
}
.learnMoreBtn:hover {
  cursor: pointer;
}
