.container {
  border: solid #c7c6c6 0.5px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin: 20px;
  margin-bottom: 10px;
}

.cardDescription {
  text-align: center;
  margin-top: 5px;
}
.cardTitle {
  text-align: center;
  color: #f1a32d;
  margin: 10px;
}

.cardButton {
  background-color: #f1a32d;
  padding: 7px 12px;
  border-radius: 5px;
  border: none;
  color: white;
}
@media screen and (min-width: 600px) {
  .container {
    margin-right: 10px;
    margin-bottom: 20px;
  }
}
