.nav {
  // height: 50px;
  padding: 10px;
  background: #003857;
  color: #fff;
  display: flex;
  // width: 100vw;
  // flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    li a {
      margin: 15px;
      text-decoration: none;
      color: black;
    }
    div {
      display: flex;
    }
  }
}
.loginBtn {
  background-color: #f1a32d;
  padding: 5px 15px;
  border-radius: 5px;
}
.signupBtn {
  background-color: #f4f4f4c2;
  padding: 5px 20px;
  border-radius: 5px;
}
.logo:hover {
  cursor: pointer;
}
